{
	on_demand_tls {
		ask http://api:8000/domains/check
	}
}

{$ZOO_GRAFANA_DOMAIN:grafana.localhost} {
	reverse_proxy lgtm:3000
}

https:// {
	tls {
		on_demand
	}
	encode gzip
	handle_path /api/* {
		reverse_proxy api:8000
	}
	reverse_proxy web:3000
}
